{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}


{% block body %}


<div class="container">
        <h2 class="text-center">About Me</h2>
        <div class="row">
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                                <img src="https://source.unsplash.com/500x300/?code,binary" class="card-img-top"
                                        alt="...">
                                <div class="card-body">
                                        <h5 class="card-title">Competetive programmer</h5>
                                        <p class="card-text">
                                                I use to do programming questions on Hackerrank, GFG and Leetcode.
                                        </p>
                                        <a href="https://www.hackerrank.com/prasantraj0809?hr_r=1" class="btn btn-primary">Hackerrank profile</a>
                                </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                                <img src="https://source.unsplash.com/500x300/?code,binary" class="card-img-top"
                                        alt="...">
                                <div class="card-body">
                                        <h5 class="card-title">Web Developer</h5>
                                        <p class="card-text">
                                                IIIT Bhopal Workspace website on which you can Register, Login as Faculty or student.
                                        </p>
                                        <a href="http://codeial.atwebpages.com/index1.php" class="btn btn-primary">IIIT Bhopal</a>
                                </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                                <img src="https://source.unsplash.com/500x300/?code,binary" class="card-img-top"
                                        alt="...">
                                <div class="card-body">
                                        <h5 class="card-title">Youtuber</h5>
                                        <p class="card-text">
                                                Here I upload Educational content lectures.
                                        </p>
                                        <a href="https://www.youtube.com/channel/UCu4w0G12Lnh9JdhMgyCanTg" class="btn btn-primary">My Channel</a>
                                </div>
                        </div>
                </div>

        </div>
</div>
<div class="container my-3">
        <h1 class="my-4">My Coding videos</h1>
        <div class="embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
        </div>
        <div>
                <p>
                        This is a coding video
                </p>
        </div>
</div>

{% endblock body %}