{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}


{% block body %}


<div class="container">
        <h2 class="text-center">About Me</h2>
        <div class="row">
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                                <img src="https://source.unsplash.com/500x300/?code,binary" class="card-img-top"
                                        alt="...">
                                <div class="card-body">
                                        <h5 class="card-title">Competetive programmer</h5>
                                        <p class="card-text">Some quick example text to build on the card title
                                                and make up the bulk of
                                                the
                                                card's content.</p>
                                        <a href="#" class="btn btn-primary">Go to link</a>
                                </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                                <img src="https://source.unsplash.com/500x300/?code,binary" class="card-img-top"
                                        alt="...">
                                <div class="card-body">
                                        <h5 class="card-title">Web Developer</h5>
                                        <p class="card-text">Some quick example text to build on the card title
                                                and make up the bulk of
                                                the
                                                card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                                <img src="https://source.unsplash.com/500x300/?code,binary" class="card-img-top"
                                        alt="...">
                                <div class="card-body">
                                        <h5 class="card-title">Youtuber</h5>
                                        <p class="card-text">Some quick example text to build on the card title
                                                and make up the bulk of
                                                the
                                                card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                        </div>
                </div>

        </div>
</div>
<div class="container my-3">
        <h1 class="my-4">My Coding videos</h1>
        <div class="embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
        </div>
        <div>
                <p>
                        This is a coding video
                </p>
        </div>
</div>

{% endblock body %}