{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock title %}
{% block projectactive %}active{% endblock projectactive %}
{% block body %}

       
        <div class="container">
                <h2 class="text-center">My Projects</h2>
                <div class="row">
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                        <img src="https://source.unsplash.com/500x300/?code,binary" class="card-img-top"
                                                alt="...">
                                        <div class="card-body">
                                                <h5 class="card-title"> IIIT Bhopal Workspace</h5>
                                                <p class="card-text">
                                                        IIIT Bhopal Workspace website on which you can Register, Login as Faculty or student.
                                                </p>
                                                <a href="http://codeial.atwebpages.com/index1.php" class="btn btn-primary">IIIT Bhopal</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                        <img src="https://source.unsplash.com/500x300/?code,binary" class="card-img-top"
                                                alt="...">
                                        <div class="card-body">
                                                <h5 class="card-title">Music Player </h5>
                                                <p class="card-text">
                                                        This is a frontend project in which song playing interface . List of singers and by clicking on each singer list of songs of that singer will be opened

                                                </p>
                                                <a href="https://github.com/prasantraj0808/Music-player-website" class="btn btn-primary">Repo link</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                        <img src="https://source.unsplash.com/500x300/?code,binary" class="card-img-top"
                                                alt="...">
                                        <div class="card-body">
                                                <h5 class="card-title">Home Automation</h5>
                                                <p class="card-text">
                                                        This project uses Arduino UNO, Bluetooth HC05, readymade app which converts speech into text and send message through bluetooth to Arduino. Code is uploaded on arduino which do action according to text detected.
                                                </p>
                                                <a href="#" class="btn btn-primary">Repo link</a>
                                        </div>
                                </div>
                        </div>
                        

                </div>
        </div>
        {% endblock body %}
       